.App {
  text-align: center;
  padding: 0;
  margin: 0;
}



h1 {
  font-family: 'Emilys Candy';
  font-size: 75px;
  cursor: default;
}

h2 {
  font-size: 32px;
  padding: 0;
  margin: 0;
}

p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

/* Index styles */
.container {
  display: grid;
  grid-template-columns: auto auto;
  align-self: auto;
}

.Index {
  
  padding: 9px;
  text-align: center;
  cursor: pointer;
  background-color: aliceblue;
  font-family: 'brawler';
  
}

/* Show One Styles */
.comm-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-self: auto;
  background-color: aliceblue;
  border: 2px;
}
.comment {
  padding: 9px;
  text-align: center;
  font-family: 'brawler';
  outline-color: black;
  outline-width: 2px;
}
.place, .data {
  text-align: center;
  font-family: 'brawler';
}

/* Header Styles */
.header {
  cursor: pointer;
}
.searchbar {
  margin: 2px;
  width: 500px;
  height: 24px;
  font-family: 'brawler';
  font-size: 16px;
}
.submit {
  height: 29px;
  font-family: 'brawler';
  font-size: 15px;
}

.name {
  width: 200px;
  height: 30px;
  font-size: 20px;
}
.text {
  width: 600px;
}
